{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
{% blocktrans %}Sobre Nosotros{% endblocktrans %}
{% endblock %}

{% block content %}
<!-- Header Start -->
<div class="container-fluid page-header">
    <div class="container">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
            <h3 class="display-4 text-white text-uppercase">
                {% blocktrans %}Sobre Nosotros{% endblocktrans %}
            </h3>
            <div class="d-inline-flex text-white">
                <p class="m-0 text-uppercase">
                    <a class="text-white" href="{% url 'landing' %}">
                        {% blocktrans %}Home{% endblocktrans %}
                    </a>
                </p>
                <i class="fa fa-angle-double-right pt-1 px-3"></i>
                <p class="m-0 text-uppercase">
                    {% blocktrans %}Sobre Nosotros{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="{% static 'img/about.jpg' %}" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="about-text bg-white p-4 p-lg-5 my-lg-5">
                    <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">
                        {% blocktrans %}Sobre Nosotros{% endblocktrans %}
                    </h6>
                    <h1 class="mb-3">
                        {% blocktrans %}Ofrecemos los mejores paquetes turísticos dentro de su presupuesto{% endblocktrans %}
                    </h1>
                    <p>
                        {% blocktrans %}
                        ¡Bienvenidos a nuestro sitio de viajes! Nos dedicamos a ayudarte a encontrar las mejores ofertas y experiencias de viaje inolvidables alrededor del mundo. Nuestra misión es hacer que viajar sea accesible, asequible y disfrutable para todos.
                        {% endblocktrans %}
                    </p>
                    <div class="row mb-4">
                        <div class="col-6">
                            <img class="img-fluid" src="{% static 'img/about-1.jpg' %}" alt="">
                        </div>
                        <div class="col-6">
                            <img class="img-fluid" src="{% static 'img/about-2.jpg' %}" alt="">
                        </div>
                    </div>
                    <a href="{% url 'ofertas' %}" class="btn btn-primary mt-1">
                        {% blocktrans %}Ofertas{% endblocktrans %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid pb-5">
    <div class="container pb-5">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-money-check-alt text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5>
                            {% blocktrans %}Precios Competitivos{% endblocktrans %}
                        </h5>
                        <p class="m-0">
                            {% blocktrans %}Disfruta de las mejores experiencias de viaje a precios asequibles{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-award text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5>
                            {% blocktrans %}Mejores Servicios{% endblocktrans %}
                        </h5>
                        <p class="m-0">
                            {% blocktrans %}Ofrecemos un servicio superior en cada detalle de tu viaje{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="d-flex mb-4 mb-lg-0">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-primary mr-3" style="height: 100px; width: 100px;">
                        <i class="fa fa-2x fa-globe text-white"></i>
                    </div>
                    <div class="d-flex flex-column">
                        <h5>
                            {% blocktrans %}Cobertura Mundial{% endblocktrans %}
                        </h5>
                        <p class="m-0">
                            {% blocktrans %}Te llevamos a los mejores destinos alrededor del mundo.{% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>


<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>


<!-- Template Javascript -->
<script src="js/main.js"></script>

{% endblock %}
