{% extends "base.html" %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %}
    <h2>Sobre Nosotros</h2>
    <p>¡Bienvenidos a nuestro sitio de viajes! Nos dedicamos a ayudarte a encontrar las mejores ofertas y experiencias de viaje inolvidables alrededor del mundo. Nuestra misión es hacer que viajar sea accesible, asequible y disfrutable para todos.</p>
    <h3>Nuestros Valores</h3>
    <ul>
        <li>Transparencia</li>
        <li>Satisfacción del Cliente</li>
        <li>Aventura y Exploración</li>
    </ul>
    <h3>Conoce a Nuestro Equipo</h3>
    <p>Somos un equipo de entusiastas del viaje que disfrutamos descubrir nuevos lugares y compartir nuestro conocimiento contigo.</p>
{% endblock %}