{% extends "base.html" %}

{% load static %}
{% load i18n %} <!-- Cargar etiquetas de traducción -->

{% block title %}
    {% blocktrans %}{{ categoria.nombre }}{% endblocktrans %}
{% endblock %}

{% block content %}
<div class="container my-5">
    <!-- Category Title, Image, and Description Section -->
    <div class="card shadow-sm mb-4">
        {% if categoria.image %}
            <img src="{% static categoria.image.name %}" alt="{{ categoria.nombre }}" class="card-img-top img-fluid rounded-top">
        {% endif %}
        <div class="card-body">
            <h1 class="card-title text-center text-primary">
                {% trans categoria.nombre %}
            </h1>
            <p class="card-text">
                {% trans categoria.descripcion %}
            </p>
        </div>
    </div>
    
    <!-- Offers Section -->
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title text-dark mb-3">
                {% blocktrans %}Ofertas en esta categoría{% endblocktrans %}
            </h2>
            <ul class="list-group list-group-flush">
                {% for oferta in categoria.ofertas.all %}
                    <li class="list-group-item">
                        <h5 class="mb-1">
                            <a href="{% url 'oferta' oferta.id_oferta %}" class="text-success">
                                {% trans oferta.nombre %}
                            </a>
                        </h5>
                        <p class="mb-1 text-muted">
                            {% trans oferta.descripcion %}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
