{% extends "base.html" %}

{% load static %}

{% block title %}Travel Offers{% endblock %}

{% block content %}

<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="../static/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Tours y Viajes</h4>
                        <h1 class="display-3 text-white mb-md-4">Descubramos el mundo juntos</h1>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="../static/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 900px;">
                        <h4 class="text-white text-uppercase mb-md-3">Tours y Viajes</h4>
                        <h1 class="display-3 text-white mb-md-4">Encuentra lugares asombrosos</h1>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-prev-icon mb-n2"></span>
            </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
            <div class="btn btn-dark" style="width: 45px; height: 45px;">
                <span class="carousel-control-next-icon mb-n2"></span>
            </div>
        </a>
    </div>
</div>
<!-- Carousel End -->

<!-- Service Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Servicios</h6>
            <h1>Servicios de Tours y Viajes</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-route mx-auto mb-4"></i>
                    <h5 class="mb-2">Guía de Viaje</h5>
                    <p class="m-0">Descubre destinos únicos con la orientación experta de nuestros guías locales</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-ticket-alt mx-auto mb-4"></i>
                    <h5 class="mb-2">Reserva de Tickets</h5>
                    <p class="m-0">Compra tus tickets de manera fácil y rápida para tus próximos viajes</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="service-item bg-white text-center mb-2 py-5 px-4">
                    <i class="fa fa-2x fa-hotel mx-auto mb-4"></i>
                    <h5 class="mb-2">Reserva de Hoteles</h5>
                    <p class="m-0">Reserva el hotel ideal para tu estadía y disfruta de una experiencia cómoda y memorable</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Cheapest Offers Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-3 pb-3">
            <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">Ofertas</h6>
            <h1>Ofertas más económicas por país</h1>
        </div>
        <div class="row">
            {% for oferta in ofertas_mas_baratas %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="offer-item bg-light text-center mb-2 p-4">
                    <h5 class="mb-2">{{ oferta.nombre }}</h5>
                    <img alt="{{ oferta.pais.image.name }}" src="{% static oferta.pais.image.name %}" class="img-fluid"/>
                    <p class="mt-2"><strong>Precio:</strong> ${{ oferta.precio }}</p>
                    <p><strong>País:</strong> {{ oferta.pais.nombre }}</p>
                    <p><strong>Fecha:</strong> {{ oferta.fecha_inicio }} - {{ oferta.fecha_fin }}</p>
                    <a href="{% url 'oferta' oferta.id_oferta %}" class="btn btn-primary mt-3">Ver Oferta</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Cheapest Offers End -->

{% endblock %}
